* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  cursor: url(/assets/img/cursor.png), auto;
}

body,
html {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 8px;
}

a {
  text-decoration: none;
  color: inherit;
  /* In case I'll add links */
  cursor: pointer;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  z-index: 40;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  background: rgba(31, 44, 224, 0.676);
  opacity: 0.7;
  white-space: nowrap;
  backdrop-filter: blur(800px);
  border-bottom: 1px solid #333;
}

.icon-dj {
  height: 64px;
  margin: 0 18px;
}

.navigation-links {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navigation-links a:hover {
  color: #39ff14;
  transition: .4s;
}

.navigation-links:last-child {
  margin-left: auto;
}

.navigation-link {
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: overline;
  font-family: 'Poppins', sans-serif;
}

.main-screen-background {
  width: 100%;
  height: 100vh;
  margin: 112px 0 0;
}

.main-screen-image-container {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
  top: -20px;
}

.main-screen-background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 460px;
  height: auto;
  transform: translate(-50%, -50%);
}

.main-screen-video-container {
  position: relative;
  width: 100%;
}

.video-background {
  min-height: 280px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 50vh;
}

.event-box {
  position: absolute;
  bottom: 36px;
  left: 24px;
  padding: 16px 24px;
  background-color: rgb(0, 0, 0);
  font-family: "Font Awesome 6 Free", monospace;
  font-size: 14px;
  text-align: center;
  opacity: 0.7;
}

.event-box-button {
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 1px black;
  cursor: pointer;
  margin-top: 16px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 16px;
}

.event-box:hover {
  opacity: 1;
  transition: .4s;
}

.event-box-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(11, 151, 53);
  transition: .3s;
}

.upcoming-section {
  width: 100vw;
  padding: 36px 40px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

.upcoming-section-header {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.container-upcoming {
  width: 90%;
  margin: 0px 50px 50px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.upcoming-card-image {
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}


.img-animation-resize {
  padding: 20px;
  border: solid 1px white;
  ;
}

.img-animation-resize-hidden {
  overflow: hidden;
}

.upcoming-card-image:hover {
  opacity: 0.8;
}

.rectangle-wrapper {
  position: relative;
  width: 100%;
}

.rectangle-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 140%;
}

.rectangle-upcoming-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border: solid 1px white;
  padding: 5%;
}

.rectangle-upcoming-image:hover {
  border: 3px solid black;
  padding: 0px;
  border: 1px solid white;
}

.upcoming-card-info {
  background: white;
  color: black;
  padding: 16px;
  line-height: 20px;
  font-weight: bolder;
  font-size: 12px;
  height: 100%;
  margin-top: 16px;
}

.container-upcoming-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.broadcast-status {
  font-size: 10px;
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-flex;
  line-height: 12px;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 5px;
  background-color: #EFEFEF;
}

.upcoming-card-title {
  color: rgb(17, 27, 160);
}


.gallery-section {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 100px;
}

.gallery-section-container {
  position: relative;
  overflow: hidden;
}

.gallery-section-container>img {
  width: 30vw;
  height: 100%;
  margin: 24px 8px;
  object-fit: cover;
}

.gallery-section-container .img-front {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

.img-front:hover {
  opacity: 0;
}

.gallery-section {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: 100px;
}

.gallery-section-container {
  position: relative;
  overflow: hidden;
}

.gallery-section-container>img {
  width: 30vw;
  height: 100%;
  margin: 24px 8px;
  object-fit: cover;
}

.gallery-section-container .img-front {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

.img-front:hover {
  opacity: 0;
}

.wrapper-about-us {
  width: 100%;
  background-color: black;
  color: rgba(255, 255, 255, 0.75);
  animation: 1s ease-in-out .6s forwards fadein;

}

.wrapper-about-us img {
  height: auto;
  width: 480px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1.5px solid #222;
}

.about-us-text {
  width: 50vw;
  margin-left: 100px;
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.about-us-text h2 {
  text-align: center;
  padding-bottom: 24px;
  color: rgba(31, 44, 224, 0.676);
  font-family: "Font Awesome 6 Free", monospace;
}

.about-us-button {
  background-color: rgba(17, 27, 160, 0.819);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  margin-top: 32px;
  padding: 8px 0px;
  transition: .4s;
  font-size: 14px;
  text-align: center;
}

.about-us-button:hover {
  background-color: transparent;
  border: 1px solid rgb(18, 167, 63);
  color: rgb(17, 26, 160);
  cursor: pointer;
}

.wrapper-about-us-main {
  width: 1130px;
  max-width: 95%;
  margin: 64px auto;
  display: flex;
  align-items: center;
}

.wrapper-sign-up {
  width: 100vw;
  padding: 36px 40px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #131313;
  border-bottom: 1px solid #222;
}

.wrapper-sign-up-text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 50px;
  font-size: 18px;
  color: rgba(31, 44, 224, 0.676);
  font-family: "Font Awesome 6 Free", monospace;
  letter-spacing: 2px;
  line-height: 28px;
}

.form-sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
}

input#email {
  border: none;
  background: none;
  color: white;
  border-bottom: 2px solid white;
  padding-top: 18px;
  padding-bottom: 5px;
  width: 100%;
  transition: .5s all;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.wrapper-sign-up-button {
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: background .2s;
  height: 40px;
  line-height: 14px;
  font-size: 14px;
  padding: 11px 16px;
  display: inline-block;
  font-weight: 600;
  border: 2px solid transparent;
  margin: 10px 0;
  margin-top: 24px;
  background-color: #131313;
  color: #39ff14;
  transition: .4s;
}

.wrapper-sign-up-button:hover {
  background-color: #131313;
  color: #37ff14;
  box-shadow: 0px 5px 6px 1px #37ff146d, 0 5px 12px 1px #37ff1483, 0 5px 24px 1px #37ff144d;
  transition-delay: .1.5s;
}


.wrapper-shop {
  width: 100vw;
  padding: 36px 40px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #131313;
  border-top: 1px solid #222;
  color: white;
}

.wrapper-shop-header {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.view-all {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  opacity: .7;
  cursor: pointer;
}

.view-all:hover {
  color: #37ff14;
  transition: .4s;
}

.topic {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.topic:hover {
  color: #37ff14;
  transition: .4s;
}

.container-cloth {
  width: 90%;
  margin: 0px 50px 50px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

.wrapper-shop-cloth {
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #222;
  cursor: pointer;
  transition: .4s;
  object-fit: cover;
  animation: card-img-fadein .4s ease-in-out forwards;
}

.item-image:hover {
  filter: brightness(1.1) contrast(1.2);
  transform: scale(1.05);
}

.square-wrapper {
  position: relative;
  width: 100%;
}

.square-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-item-image {
  position: absolute;
  width: 100%;
  height: 100%;
}



.image-title {
  margin-top: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.wrapper-shop-cloth-price {
  padding-top: 3px;
  font-size: 12px;
}

footer {
  background-color: #131313;
  padding-bottom: 64px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 16px;
}

.footer-logo img {
  height: 50px;
  width: auto;
  filter: invert(1);
  padding: 0 16px;
}

.ep-logo {
  filter: invert(0) !important;
}

.apple-logo {
  height: 30px !important;
  width: auto !important;
}

.footer-logo img:hover {
  cursor: pointer;
}

.wrapper-copyright {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@keyframes card-img-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}